@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #3C354F;
}
h1, h3, p{
    margin: 0;
}

/* Header part */

/* Nav section */

nav{
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    padding: 21px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Nav left */
.nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-left > h3{
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-left > h3 > span{
    color: #FF42A5;
}
/* Nav right */
.nav-right > ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-right > ul > li{
    list-style: none;
}
.nav-right-right{
    display: flex;
    align-items: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: space-around;
}

/* Banner part */
.banner{
    background-image: url("/images/Group14.png");
    background-repeat: no-repeat;
    background-size: 47% auto;
}
.banner-container{
    display: flex;
    align-items: center;
    gap: 68px;
}
.banner-left{
    width: 47%;
    display: flex;
    justify-content: center;

}
.banner-left-left{
    width: 40%;
}
.banner-left-left > h3, .banner-left-left > h1, .banner-left-left > p{
    margin: 0;
}
.banner-left-left > h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-left-left > h1{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}
.banner-left-left > p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    padding-bottom: 17px;
}
.common-btn{
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: #FFF;
}
.banner-left-left-one{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.banner-left-left-two{
    background: #4EC5F7;
}
.banner-right{
    width: 38%;
}
.banner-right > img{
    width: 100%;
}


/* Main part start */

/* Section one */

.section-one{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.section-one-left{
    width: 45%;
    height: 490px;
}
.section-one-left > img{
    width: 100%;
}
.section-one-right{
    width: 28%;
}
.section-one-right > h3{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
}
.section-one-right > p{
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 32px;
}
.section-one-right-btn{
    text-align: right;
    padding-bottom: 24px;
}
.section-one-right-button{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.section-one-right-one{
    color: #534C64;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 500;
}
.section-one-right-two{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* Section two start */

.section-two{
    padding-top: 120px;
    text-align: center;
}
.section-two > h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.section-two > h3 > span{
    color: #FF42A5;
}
.section-two > p{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 48px;
}
.section-two-card-images{
    display: flex;
    justify-content: center;
    gap: 1.5%;
    position: relative;
}
.card-image{
    width: 18%;
}
.card-image > img{
    padding-bottom: 24px;
}
.card-image > img:hover{
    opacity: 0.5;
    border: 5px solid rgb(209, 0, 35);
    border-radius: 5px;
}
.card-image > p{
    text-align: left;
}

/* Section three */

.section-three{
    margin-top: 120px;
    margin-left: 22%;
    margin-right: 12%;
}
.section-three-container{
    display: flex;
    align-items: center;
    gap: 220px;
}
.section-three-left{

}
.section-three-left > h3{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 24px;
}
.section-three-left > h3 >span{
    color: #F948B2;
}
.section-three-left > p{
    color: #534C64;
    text-align: right;
    font-size: 1.06rem;
    font-weight: 400;
}
.section-three-right{
    position: relative;
}
.section-three-right-one{
    width: 100%;
}
.section-three-right-two{
    width: 50%;
    position: absolute;
    top: 280px;
    left: -130px;
}

/* Section four start */

.section{
    height: 400px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-four{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 20px;
}
.grid{
    width: 240px;
    display: flex;
    align-items: center;
}
.grid > img{
    padding-right: 10px;
}
.grid > p{
    width: 100%;
}


/* Footer part */

footer{
    height: 636px;
    background: rgb(11, 2, 35);
}
.footer-div-logo{
    display: flex;
    align-items: center;
    padding-top: 126px;
    justify-content: center;
    gap: 20px;
    padding-bottom: 66px;
}
.footer-div-logo h3{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}
.footer-div-logo-n{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-div-logo-n > p{
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
.footer-div-logo-n-btn{
    padding-top: 55px;
    text-align: center;
}
.footer-div-logo-n-btn > button{
    margin-right: 40px;
}
.footer-div-logo-n-btn-n{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 74px;
}
.lasta{
    padding-top: 26px;
    margin: 0;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}



















/* Mobile device */


@media screen and (max-width: 572px) {
    /* Nav part */
    nav{
        height: 250px;
    }
    .nav-container, .nav-right > ul{
        flex-direction: column;
    }
    .nav-container{
        justify-content: center;
        padding: 10px;
    }
    .nav-right > ul{
        padding: 0;
        justify-content: center;
    }

    /* Banner part */
    .banner-left{
        flex-direction: column;
        width: 99%;
    }
    .banner-left-left{
        width: 100%;
        text-align: center;
    }
    .banner-container{
        flex-direction: column-reverse
    }
    .banner-right{
        width: 100%;
    }

    /* Main part */

    main{
        margin-top: 20px;
    }

    /* Section one */

    .section-one{
        width: 90%;
        flex-direction: column;
        padding-top: 30px;
        margin: 0 auto;
    }
    .section-one-left{
        width: 100%;
        padding-top: 60px;
    }
    .section-one-right{
        width: 100%;
    }
    .section-one-right > h3{
        text-align: center;
    }
    .section-one-right > p{
        text-align: center;
    }
    .section-one-right-btn{
        text-align: center;
    }

    /* Section two */

    .section-two{
        width: 99%;
        margin: 0 auto;
    }
    .section-two-card-images{
        flex-direction: column;
    }
    .card-image{
        width: 100%;
    }
    .card-image > p{
        text-align: center;
        padding-bottom: 20px;
    }
    .section-three{
        width: 99%;
        margin: 0px auto;
    }
    .section-three-container{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .section-three-left > h3{
        text-align: center;
    }
    .section-three-left > p{
        text-align: center;
    }
    .section-three-right{
        width: 80%;
    }
    .section-three-right-two{
        width: 30%;
        left: -30px;
        top: 250px;
    }

    /* Section four */

    .section{
        width: 99%;
        margin: 0 auto;
        text-align: center;
    }

    .section-four{
        display: grid;
        grid-template-columns: repeat(3, 30px);
        grid-template-rows: repeat(2, 1fr);
        justify-content: flex-start;
    }
    .grid{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .grid > img{
        width: 25px;
        height: 25px;
    }
    .grid > p{
        font-size: 15px;
    }

    /* Footer part */
    footer{
        width: 99%;
        margin: 0 auto;
    }
    .footer-div-logo-n{
        width: 100%;
        justify-content: space-between;
        gap: 45px;
        flex-wrap: wrap;
    }
    .footer-div-logo-n-btn{
        width: 100%;
        justify-content: space-between;
        gap: 5px;
    }
    .footer-div-logo-n-btn > button{
        margin-right: 10px;
    }
    .footer-div-logo-n-btn-n{
        width: 100%;
        gap: 10px;
    }
}